*.o
*.lo
*.la
*.a
*.res
*.exe
.libs/
.deps/
autom4te.cache/
config.h
config.h.in~
config.log
config.status
config.sh
libtool
lincity
lincity_console
xlincity
lincity.res
Makefile
Makefile.in
m4/Makefile
m4/Makefile.in
modules/Makefile
modules/Makefile.in
po/Makefile
po/Makefile.in
src/modules/Makefile
src/modules/Makefile.in
stamp-h1
configure~
